body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin: 0;
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.left-links{
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
}
.header{
    height: 110px;
    font-size: 18px;
    color: #e5e7eb;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #1F2937;
}
.new-start{
    background-color: #1F2937;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.wrapper-start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
    padding: 10px;
}

.right-links{
  display: flex;
  gap: 15px;
}
.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
}
.hero-section{
    width: 400px;
    color: #e5e7eb;
    font-size: 18px;
}

.headerone {
    font-size: 44px;
    color: #F9FAF8;
    font-weight:900
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 80px;
}

.title{
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 25px;
}
.placeholder-img{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: #6d747d
}
img {
    width: 120px;
    height: 120px;
    text-align: center;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 40px;
    margin-bottom: 60px;
}

.card-section{

}
.container {
    width: 120px;
    text-wrap: wrap;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #1F2937;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.footer{
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #e5e7eb;
}

.quotesection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    background-color: #E5E7EB;

}
.quotetext {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 26px;
}
.author{
    display: flex;
    align-items: flex-end;
    float: right;
    font-size: 16px;
    font-style: bold;
}

.contentcontainer {
    width: 100%;
}
.quoted{
    width: 600px;
    padding: 30px;
}

.buttonsection {
    display: flex;
    height: 200px;
}
.buttonsectionbackground {
    background-color: #3882F6;
}
.signupbutton {
    color: #ffffff;
    background-color: #3882F6;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  