body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.header{
    background-color: #1F2937;
    font-size: 18px;
    color: #e5e7eb;
}
img {
    height: 100px;
    width: 100px;
    border-radius: 2px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.container {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900
}
.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder-img{
    width: 300px;
    height: 150px;
    background-color: grey;
}
p{
    font-size: 18px;
    color: #e5e7eb;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.footer{
    background-color: #1F2937;
    font-size: 18px;
    color: #e5e7eb;
}

.title{
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}
.quotesection{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
}
.buttonsection {
    background-color: #3882F6;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  